body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* =======================HEADER=================================== */


.webheader {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.webheader-contact {
    font-style: normal;
    margin-left: auto;
}

.webheader-contact-list {
    display: flex;
    display: none;
}

.webheader-container {
    display: flex;
    align-items: center;
    top: 0;
}

.webheader-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.webheader-logo .webheader-logo-studio {
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-open-btn {
    margin-left: auto;
    height: 24px;
    width: 24px;
    display: block;
    justify-content: center;
    align-items: center;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    margin-top: 16px; 
    margin-bottom: 16px;
}

.menu-open-btn-icon {
    flex-shrink: 0;
}

.webheader-menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.webheader-menu-item {
    padding: 24px 0;
}

.current::after {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--OCEAN, #404BBF);
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: none;
}

.webheader-menu:not(:hover) .current:first-child::after {
    display: flex;
}

.webheader-menu:not(:hover) .webheader-menu-item:first-child .webheader-menu-link {
    color: var(--OCEAN, #404BBF);
}

.current:active::after,
.current:hover::after,
.current:focus::after {
    display: flex;
}

.current {
    position: relative;
    color: var(--OCEAN, #404BBF);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.webheader-menu-link:active,
.webheader-menu-link:hover,
.webheader-menu-link:focus {
    color: var(--OCEAN, #404BBF);
}

.webheader-menu {
    display: flex;
    gap: 40px;
    display: none;
}


.webheader-navigation {
    display: flex;
    align-items: center;
    
}

.webheader-contact-link {
    color: var(--SLATE, #434455);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.webheader-contact-link:active,
.webheader-contact-link:hover,
.webheader-contact-link:focus {
    color: var(--OCEAN, #404BBF);
}

.mob-menu:not(:hover) .mob-menu-item:first-child .mob-menu-link {
    color: var(--OCEAN, #404BBF);
}

.mob-contact-list:not(:hover) .mob-contact-item:first-child .mob-contact-link {
    color: var(--IRIS, #4D5AE5);
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.mob-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 7;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}

.menu-close-btn {
    display: block;
    margin-left: auto;
    fill: var(--CORNFLOWER, #E7E9FC);
    border: 1px solid rgba(0, 0, 0, 0.10);
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    margin-bottom: 24px;
}

.menu-close-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus,
.mob-menu-link:active {
    color: var(--OCEAN, #404BBF);
}


.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-contact-link {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contact-link:focus,
.mob-contact-link:active,
.mob-contact-link:hover {
    color: var(--IRIS, #4D5AE5);
}

.mob-menu-list {
    margin-bottom: 168px;
}

.mob-contact-list {
    margin-bottom: 48px;
}

.mob-menu-icon-list {
    display: flex;
    gap: 40px;
}

.mob-menu-low-box {
    margin-top: auto;
}

.mob-contact-item:not(:last-child) {
    margin-bottom: 24px;
}

/* ========================HERO===================================== */

.banner-container {
    background-color: var(--NAVY-BLUE, #2E2F42);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/banner-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding: 72px 1px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .banner-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/banner-bg-mob-2x.jpg);
    }
}


.banner-title {
    color: var(--WHITE, #FFF);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: center;
    max-width: 288px;
}

.banner-btn {
    min-width: 169px;
    height: 56px;
    border: none;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--IRIS, #4D5AE5);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-btn:hover,
.banner-btn:focus {
    background: var(--OCEAN, #404BBF);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ========================================================== */


/* ===========================FEATURES======================= */


.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-list-box {
    display: none;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background-color: var(--CLOUD, #F4F4FD);
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}


.features-list-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.features-list-item {
    width: 100%;
}

.features-list-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ==================================================== */

/* ========================TEAM======================== */
.team {
    background-color: #F4F4FD;
}

.team-person {
    padding: 32px 0;
}

.team-list-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-icon-list-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-icon-list-item,
.webfooter-icon-list-item {
    display: flex;
    width: 40px;
    height: 40px;
}

.team-icon-list-link:hover,
.team-icon-list-link:focus {
    background-color: #404BBF;
}

.team-icon {
    fill: #F4F4FD;
}

.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}



.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding: 0 12px;
}


/* ==================================================== */



/* ===================PORTFOLIO======================== */

.portfolio-list-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-app {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
}

.box {
    position: relative;
    width: 288px;
    height: 280px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4D5AE5;
}

.portfolio-list-item:hover .overlay {
    transform: translateY(0%);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}


.portfolio-list-item {
    width: 100%;
    background: var(--WHITE, #FFF);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====================================================================== */


/* ==============================FOOTER================================== */


.webfooter {
    background: var(--NAVY-BLUE, #2E2F42);
    padding: 100px 0;
}

.webfooter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.webfooter-logo-box-kid {
    margin: 0 auto;
}

.webfooter-logo {
    display: inline-block;
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.webfooter-logo-studio {
    color: var(--CLOUD, #F4F4FD);
}

.webfooter-logo-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 72px;
}

.webfooter-soc-text {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.webfooter-soc-box {
    margin-bottom: 72px;
}

.webfooter-text {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.webfooter-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.webfooter-icon-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.webfooter-icon-list-link:hover,
.webfooter-icon-list-link:focus {
    background-color: #31D0AA;
}

.webfooter-icon {
    fill: #f4f4fd;
}

.footer-input-title {
    margin-bottom: 16px;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.footer-form {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-input {
    padding-left: 16px;
    width: 288px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-bottom: 16px;
    opacity: 0.6;
}

.footer-input::placeholder {
    color: var(--WHITE, #FFF);
}

.footer-btn {
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: var(--IRIS, #4D5AE5);
    border: none;
    font-style: normal;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
}

.footer-btn:hover,
.footer-btn:focus,
.footer-btn:active {
    background-color: #404BBF;
}

.footer-modal-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

.input {
    font-family: inherit;
} 

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2E2F4266;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background-color: var(--DAIRY, #FCFCFC);
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    background-color: var(--CORNFLOWER, #E7E9FC);
    position: absolute;
    top: 24px;
    right: 24px;
    fill: var(--CORNFLOWER, #E7E9FC);
    border: 1px solid rgba(0, 0, 0, 0.10);
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
    border: none;
    background-color: var(--OCEAN, #404BBF);
}

.modal-btn:hover > .modal-btn-icon,
.modal-btn:focus > .modal-btn-icon {
    fill: #FFFFFF;
}

.modal-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--IRIS, #4D5AE5);
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-form-btn {
    display: block;
    /* min-width: 169px;
    height: 56px; */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--WHITE, #FFF);
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--IRIS, #4D5AE5);
    border: none;
    padding: 16px 32px;
    box-sizing: content-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover {
    background-color: #404BBF;
}

.modal-label {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-icon {
    fill: #2E2F42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
}

.input-wrap {
    position: relative;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    background-color: transparent;
}

.modal-textarea::placeholder {
    color: var(--LIGHT-SLATE, #8E8F99);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: var(--IRIS, #4D5AE5);
}

.modal-textarea:focus::placeholder {
    color: #4D5AE5;
}

.modal-field-textarea {
    margin-bottom: 16px;
}

.modal-link {
    text-decoration: underline;
    color: var(--IRIS, #4D5AE5);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.input[type="checkbox"] .modal-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-checkbox:checked + .label-checkbox > .modal-checkbox-span {
    border: none;
    background-color: #404bbf;
    fill: #F4F4FD;
}

.label-checkbox {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    margin-bottom: 24px;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

@media screen and (min-width: 320px) {
    .container {
        max-width: 318px;
    }
}


/* ======================TAB============================== */

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    .features-list-item {
        width: calc((100% - 24px) / 2);
    }

    .features-list {
        gap: 72px 24px;
    }

    .team-list-item {
        width: calc((100% - 48px) / 2);
    }

    .team-list {
        gap: 64px 24px;
        padding: 0 93px;
    }

    .box {
        width: 356px;
        height: 300px;
    }

    .portfolio-list {
        gap: 72px 24px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }

    .banner-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 36px;
        text-transform: none;
    }

    .banner-container {
        padding: 112px 121px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/banner-bg-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .banner-container {
                background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/banner-bg-tab-2x.jpg);
            }
        }

    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: baseline;
    }

    .footer-input-title {
        text-align: start;
    }

    .webfooter-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: start;
        padding-left: 108px;
    }

    .webfooter-logo-box-kid {
        margin: 0;
    }

    .webfooter-soc-text {
        text-align: start;
        margin-top: 0;
    }

    .webfooter-logo-box {
        margin: 0 24px 0 0;
        justify-content: start;
    }

    .footer-input {
        width: 264px;
    }

    .mob-menu {
        display: none;
    }

    .menu-open-btn {
        display: none;
    }

    .webheader-menu {
        display: flex;
    }

    .webheader-logo {
        margin-right: 120px;
    }

    .webheader-contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .modal {
        width: 408px;
        min-height: 584px;
    }  
}


/* ======================DESKTOP============================ */


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .features-list {
        padding: 0;
    }

    .features-list-box {
        display: flex;
    }

    .features-list-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-transform: none;
    }

    .features-list-text {
        font-weight: 400;
    }

    .features-list-item {
        width: calc((100% - 72px) / 4);
    }

    .team-list {
        gap: 24px;
        flex-wrap: nowrap;
        padding: 0;
    }

    .team-list-item {
        width: calc((100% - 72px) / 4);
    }

    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
    }

    .box {
        width: 360px;
        height: 300px;
    }

    .portfolio-list {
        gap: 48px 24px;
        padding: 0;
    }

    .banner-container {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/banner-bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .banner-container {
                background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/banner-bg-2x.jpg);
            }
        }

    .banner-title {
        margin-bottom: 48px;
    }

    .webfooter-container {
        padding-left: 15px;
    }

    .webfooter-logo-box {
        margin-right: 120px;
    }

    .footer-form-container {
        margin-left: auto;
    }

    
    .webheader-contact-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .webheader-contact-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .features-list-title {
        text-align: start;
    }

    .webfooter-soc-box {
        margin-bottom: 0;
    }

    .footer-input {
        margin-bottom: 0;
        margin-top: 0;
    }

    
}




